<!-- <nav class="navbar">
  
  <div class="logo-section" routerLink="/">
    <span class="logo-text"><span class="highlight">Cinex</span></span>
  </div>

  <div class="nav-center">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/theaters" routerLinkActive="active">Theaters</a>
    <a routerLink="/releases" routerLinkActive="active">Releases</a>
  </div>

  <div class="nav-right">
<div class="search-box">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <input type="text" 
           placeholder="Search movies..." 
           [(ngModel)]="searchTerm" 
           (keyup.enter)="onSearch()">
  </div>
  <button class="btn-login" routerLink="/login">Login</button>
  </div>

</nav> -->

<nav class="navbar">
  
  <div class="logo-section" routerLink="/">
    <span class="logo-text"><span class="highlight">Cinex</span></span>
  </div>

  <div class="nav-center">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/theaters" routerLinkActive="active">Theaters</a>
    <a routerLink="/releases" routerLinkActive="active">Releases</a>
  </div>

  <div class="nav-right">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input type="text" 
             placeholder="Search movies..." 
             [(ngModel)]="searchTerm" 
             (keyup.enter)="onSearch()">
    </div>

    <button *ngIf="!isLoggedIn" class="btn-login" routerLink="/login">Login</button>

    <button *ngIf="isLoggedIn" class="btn-login" style="background-color: #ff4d4d;" (click)="logout()">Logout</button>
  </div>

</nav>