<div class="theaters-container">
  
  <div class="header">
    <h1>Theaters in Surat</h1>
    <p>Experience the best cinematic experience near you.</p>
  </div>

  <div class="theater-grid">
    <div class="theater-card" *ngFor="let theater of theaters">
      
      <div class="card-top">
        <i class="fa-solid fa-film theater-icon"></i>
        <div class="theater-info">
          <h3>{{ theater.name }}</h3>
          <p class="location"><i class="fa-solid fa-location-dot"></i> {{ theater.location }}</p>
        </div>
      </div>

      <div class="showtimes">
        <span class="time-tag" *ngFor="let time of theater.showtimes">{{ time }}</span>
      </div>

      <div class="card-actions">
        <button class="btn-book" routerLink="/movies">Book Tickets</button>
        
        <a [href]="theater.mapUrl" target="_blank" class="btn-map">
           <i class="fa-solid fa-map-location-dot"></i> Directions
        </a>
      </div>

    </div>
  </div>

</div>