.login-wrapper {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
}

.login-box {
  background: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    border: 0;
    border-top: 1px solid #444;
    margin-bottom: 25px;
}

.brand {
  color: #ff4d4d;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #bbb;
}

.input-group input {
   width: 100%;
    padding: 12px;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 6px;
    color: white;
    box-sizing: border-box;
    transition: 0.3s;
}

.input-group input:focus {
   border-color: #e50914;
    outline: none;
    background: #333;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff3e3e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:disabled {
  background: #555;
  color: #aaaaaa;
  cursor: no-drop;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.switch-text { font-size: 14px; color: #666; }
a { color: #ff3e3e; text-decoration: none; font-weight: bold; }